.container {
  padding: 20px;
}
.person-details {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 25px;
}
.name {
  font-family: 'Roboto';
  color: #475569;
  font-size: 22px;
  font-weight: 500;
}
.description {
  font-size: 'Roboto';
  color: #475569;
}
.money-manager {
  color: #0b69ff;
  font-weight: 500;
}
border-radius: 10px;

@media screen and (min-width: 768px) {
  .person-details {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .responsive-container {
    width: 80%;
    max-width: 900px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .money-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.add-transaction-container {
  border-style: solid;
  border-color: #cbd5e1;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  margin-bottom: 20px;
}
.addTransaction-title {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 16px;
}
.label {
  font-family: 'Roboto';
  color: #7e858e;
  font-size: 12px;
}
.input {
  width: 100%;
  outline: none;
  margin-top: 10px;
  border-color: #cbd5e1;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 15px;
}
.select-ele {
  width: 100%;
  padding: 10px;
}
.add-btn {
  border-width: 0px;
  background-color: #0b69ff;
  color: white;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  font-weight: 700;
}
.history-container {
  border-style: solid;
  border-color: #cbd5e1;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
}
.history-list {
  border-style: solid;
  border-color: #cbd5e1;
  border-width: 1px;
  list-style-type: none;
  padding: 20px;
}
.history-list-head {
  font-family: 'Roboto';
  color: #1e293b;
  margin-right: 40px;
  font-size: 12px;
  font-weight: 500;
}
.history-list-heading-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.divider {
  background-color: #cbd5e1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .person-details {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .responsive-container {
    width: 80%;
    max-width: 900px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .money-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .trans-history-container {
    display: flex;
    justify-content: flex-start;
  }
  .add-transaction-container {
    width: 40%;
    margin: 20px;
  }
  .history-container {
    flex-grow: 1;
    margin: 20px;
  }
}
